<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>436987317899-kbfvql91100l8squom0htbpr804jf9nt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436987317899-kbfvql91100l8squom0htbpr804jf9nt</string>
	<key>API_KEY</key>
	<string>AIzaSyCvNqJ7IVq6LWtd08qItCzk8wrq7MDfacQ</string>
	<key>GCM_SENDER_ID</key>
	<string>436987317899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.mineo.yamaji1108.insuubunkai</string>
	<key>PROJECT_ID</key>
	<string>insuubunkai-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>insuubunkai-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436987317899:ios:13e129516cfc6ee2</string>
	<key>DATABASE_URL</key>
	<string>https://insuubunkai-ios.firebaseio.com</string>
</dict>
</plist>